<b>
@(ViewData["Title"] = "Добавление академ. степени")
</b>
<br />
@using (var a = Html.BeginForm("Add", "AcademicDegree", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                Имя нового объекта
            </td>
            <td>
                <input type="text" name="newObjectName">
            </td>
        </tr>
    </table>
    <input type="submit" value="Подтвердить" />
}