@model AcademicDegreePriceAssignment
@using Database.Entities;
@using WebFront.Constants;

@{
    IEnumerable<AcademicDegree> atachedObjects = ViewBag.AtachedObjects;
    int? forID = ViewBag.forID;
}

@using (var a = Html.BeginForm("AddAssignment", "AcademicDegree", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                Для
            </td>
            <td>
                <select name="id">
                    @foreach (var obj in atachedObjects.OrderByDescending(u => u.ID == forID))
                    {
                        <option value=@obj.ID>@obj.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Дата
            </td>
            <td>
                <input type="Date" id="name" name=@nameof(Model.AssignmentDate) required>
            </td>
        </tr>
        <tr>
            <td>
                Значение
            </td>
            <td>
                <input type="number" name=@nameof(Model.Value) value=@Model.Value step="0.01" required>
            </td>
        </tr>
    </table>
    <input type="submit" value="Подтвердить" />
}