@using Database.Entities;
@using WebFront.Constants;
@model WebFront.Models.ContractType.ContractTypeViewModel
<b>
    @(ViewData["Title"] = "Редактирование типа договора")
</b>
<br />
@using (var a = Html.BeginForm("Edit", "ContractType", FormMethod.Post))
{
    <table>
        @Html.HiddenFor(m=>m.ID)

        <tr>
            <td>
                Имя
            </td>
            <td>
                @Html.EditorFor(m => m.Name)
            </td>
        </tr>
    </table>
    <input type="submit" value="Подтвердить" />
}

<div align="right">
    @using (Html.BeginForm("Delete", "ContractType", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ID)
        <input type="submit" value="Удалить" />
    }
</div>