@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<p>Произошла ошибка</p>
<p>{exception.Message}</p>
<p> <input type="button" onclick="history.back();" value="Назад" /></p>
<a class="navbar-brand" href="/Contracts/List">К договорам</a>
